.alert{
	padding: 10px 10px;
	border-radius: 5px;
	border: 1px solid #4C92FF;
}

.alert-small{
	padding: 5px 5px !important;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid #4C92FF;
}

.alert-danger{
	color: red;
	border: 1px solid red !important;
}